/* .loading {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 20;
} */
body {
  margin: 20px;
}
.loading {
  display: none;
  margin: 0 auto;
  max-width: 500px;
}
form {
  margin: 0 auto;
  max-width: 550px;
}
.form-group {
  display: flexbox;
  margin: 10px;
  max-width: 550px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.res-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.btn {
  margin-left: 20px;
  margin-top: 15px;
}
