/* .loading {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 20;
} */

.loading {
  display: none;
}

.form-group {
  margin: 10px;
  max-width: 400px;
}

.btn-container {
  display: flex;
  justify-content: right;
}

.btn {
  margin-left: 20px;
  margin-top: 15px;
}
