/* .loading {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 20;
} */
body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.jumbotron {
  border-radius: 5px;
  text-decoration: white;
  font-weight: 800;
  color: aliceblue;
  background-image: linear-gradient(152deg, black 70%, rgb(191, 20, 8) 30%);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.loading {
  display: none;
  margin: 0 auto;
  max-width: 500px;
}
form {
  margin: 0 auto;
  max-width: 550px;
  font-weight: 300;
}
.form-group {
  display: flexbox;
  margin: 10px;
  max-width: 550px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.res-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.btn {
  margin-left: 20px;
  margin-top: 15px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
